<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Timesheets of employees</title>
		<meta name="keywords" content="Optimum timesheets" />
		<meta name="description" content="Timesheets">
		<meta name="author" content="dev Solumada">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="assets/images/logo opt.png" />

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/select2/select2.css" />
		<link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme.css" />
		<link rel="stylesheet" href="assets/stylesheets/custom.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/custom.css">

		<!-- Head Libs -->
		<script src="assets/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="assets/images/Logo optimum.png" height="40" alt="Company Logo" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="assets/images/logo opt.png" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/logo opt.png" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name">Optimum timesheets</span>
								<span class="role"><%= admin %></span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li>
									<a role="menuitem" tabindex="-1" href="/exit_a"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title" style="color:rgb(221, 216, 216);">
							Timesheets
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main text-bold">
								<ul class="nav nav-main">		
									<li class="nav-parent nav-expanded nav-active">
										<a>
											<i class="fa fa-copy" aria-hidden="true"></i>
											<span>Pages</span>
										</a>
										<ul class="nav nav-children">
											<li class="nav-active">
												<a href="/employees">
													Timesheets of employees
												</a>
											</li>
											<li>
												<a href="/validation">
													Validation Page
												</a>
											</li>
											<li>
												<a href="/userlist">
													Users Lists
												</a>
											</li>
											<li>
												<a href="/about">
													About Project
												</a>
											</li>
										</ul>
									</li>
									
									
									
								</ul>
							</nav>
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Timesheets of employees</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Timesheets</span></li>
								<li><span>Employees</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title text-center">Timesheets of employees</h2>
						</header>
						<div class="panel-body">
							<div class="row ">
								<div class="col-md-3 pull-right">
									<label>End Date</label>
									<div class="row">
										<div class="col-md-10">
											<div class="input-group input-group-icon">
												<input name="enddate" id="enddate"  type="date" class="form-control" required/>
											</div>
										</div>
										<div class="col-md-1 pull-right">
											<button type="button" class="btn btn-primary btn-circle btn-sm pull-right" onclick='sde()'><i class="fa fa-refresh"></i></button>
										</div>
									</div>
									
									
								</div>
								<div class="col-md-3 pull-right">
									<label>Start Date</label>
									<div class="row">
										<div class="col-md-10">
											<div class="input-group input-group-icon">
												<input name="startdate" id ="startdate" type="date" class="form-control" required/>
											</div>
										</div>
										<div class="col-md-1 pull-right">
											<button type="button" class="btn btn-primary btn-circle btn-sm pull-right" onclick='sdr()'><i class="fa fa-refresh"></i></button>
										</div>
									</div>
								
								</div>
								<div class="col-md-3 pull-right">
									<div class="input-group input-group-icon">
										<label>Project</label>
										<select id="project" name="project" class="form-control" required>
											<option value="">Choose a Project</option>
											<% available_project.forEach(function(project) { %>
												<option value="<%= project.project_name %>"><%= project.project_name %></option>
												<% }); %>
										</select>
									</div>
								</div>
								<div class="col-md-3 pull-right">
									<label>M-CODE</label>
								<div class="input-group input-group-icon">
									<input name="mcode" id="mcode" type="text" class="form-control" required/>
								</div>
								</div>
								
								<div class="col-md-3 pull-right">
									<br>
								<div class="input-group input-group-icon">
									<button id="filter" onclick="filtrate()" class="btn btn-warning btn-block pull-right text-center"><b>FILTER DATA</b><img src="assets/images/loading-filter.gif" style="width: 40px;height:auto;display:none;" id="filter_load"></button>
								</div>
								
								</div>
							</div>
							<br>
							<header class="panel-heading">
								<h2 id="ch_title" class="panel-title text-center">All times logged</h2>
								</header>
								<br>
							<table class="table table-bordered table-striped mb-none" id="datatable-default" >
								<thead style="background-color: #619FCB;color:white">
									<tr>
										<th>M-CODE</th>
										<th>Number of agent</th>
										<th>Project</th>
										<th>Date</th>
										<th>Time Start</th>
										<th>Time end</th>
										<th>Tasks accomplished</th>
									</tr>
								</thead>
								<tbody id ="alldata">
									<% timesheets.forEach(function(timesheets) { %>
										<tr id="<%= timesheets._id %>">
											<td><%= timesheets.m_code %></td>
											<td><%= timesheets.num_agent %></td>
											<td><%= timesheets.projects %></td>
											<td><%= timesheets.date %></td>
											<td><%= timesheets.time_start %></td>
											<td><%= timesheets.time_end %></td>
											<td><%= timesheets.task %></td>
										</tr>		   
								  <% }); %>
								</tbody>
							</table>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<a class="mb-xs mt-xs mr-xs modal-with-zoom-anim" href="#modalAnim"><button id="generate_excel" class="btn btn-primary btn-mb pull-left"><i class="fa fa-file-excel-o" style="color:lightgreen"></i> GENERATE EXCEL </button><img id="loading"  src="assets/images/loading.gif" style="width: 40px;height:auto;display:none;"></a>
								<a href="/download"><button id="download" onclick="downloads()" class="btn btn-success btn-mb pull-right"><i class="fa fa-download"></i> DOWNLOAD</button></a>
							</div>
						</div>
					</section>
					<!-- Modal Animation -->
		<div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Are you sure?</h2>
				</header>
				<div class="panel-body">
					<div class="modal-wrapper">
						<div class="modal-icon">
							<i class="fa fa-question-circle"></i>
						</div>
						<div class="modal-text">
							<p>Are you sure to generate timesheets excel file</p>
						</div>
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary modal-confirm" onclick="generate()">Confirm</button>
							<button class="btn btn-default modal-dismiss">Cancel</button>
						</div>
					</div>
				</footer>
			</section>
		</div>
			</div>
			<div class="panel-body">
				

				<!-- Modal Form -->
				<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title">Add new administrator</h2>
						</header>
						<div class="panel-body">
								<div class="form-group mt-lg">
									<label class="col-sm-3 control-label">Email</label>
									<div class="col-sm-9">
										<input type="email" id="email" name="email" onkeyup="check()" class="form-control" placeholder="Enter Email here..." required/>
									</div>
								</div>
								<br>
						</div>
						<footer class="panel-footer">
							<div class="row">
								<div class="col-md-12 text-right">
									<button id="admin" class="btn btn-primary modal-confirm" onclick="add_admin()">ADD</button>
									<button class="btn btn-default modal-dismiss">Cancel</button>
								</div>
							</div>
						</footer>
					</section>
				</div>

			</div>
		</section>
		<script>
			var load = document.getElementById("filter_load");
			var gen = document.getElementById("generate_excel");
			var download = document.getElementById("download");
			var table = document.getElementById("datatable-default");
			var parentelement = document.getElementById("alldata");
			var mcodes = document.getElementById("mcode");
			var projects = document.getElementById("project");
			var datestarts = document.getElementById("startdate");
			var dateends = document.getElementById("enddate");
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const code = urlParams.get('mcode');
			const proj = urlParams.get('project');
			const start = urlParams.get('start');
			const end = urlParams.get('end');
			if (queryString.length != 0){
				document.getElementById("ch_title").innerHTML = "Your filtered data";
				mcodes.value = code;
				projects.value = proj;
				datestarts.value = start;
				dateends.value = end;
			}
			check_button('<%= timesheets.length %>');
			function filtrate(){
				load.style.display = "block";
				sendRequest_filter("/filter",mcodes.value,projects.value,datestarts.value,dateends.value);
			}

			function sendRequest_filter(url,mcode,project,startdate,enddate) {
				var http = new XMLHttpRequest();
				http.open("POST", url, true);
				http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				http.onreadystatechange = function () {
				  if (this.readyState == 4 && this.status == 200) {
					  if (this.responseText == "retour"){
						  window.location = "/";
					  }
					  else{
						if (mcodes.value =="" && projects.value =="" && datestarts.value == "" && dateends.value==""){
							window.location = "/employees";
						}
						else{
							document.getElementById("download").disabled = true;
						load.style.display = "none";
						window.location = "/employees?mcode="+mcode+"&project=" +project+"&start=" +startdate+"&end=" +enddate;
						}
						
					  }
					
				  }
				};
				http.send("mcode="+mcode+"&project="+project+"&startdate="+startdate+"&enddate="+enddate);
			  }
			function check_button(count){
				if (count == 0){
					document.getElementById("generate_excel").disabled = true;
					document.getElementById("ch_title").innerHTML = "No data";
				}
				else{
					document.getElementById("generate_excel").disabled = false;
					
				}
				
			}
			function sdr(){
				document.getElementById("startdate").value = "";
			}
			function sde(){
				document.getElementById("enddate").value = "";
			}
		</script>

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="assets/vendor/select2/select2.js"></script>
		<script src="assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
		<script src="assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="assets/javascripts/tables/examples.datatables.default.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.row.with.details.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.tabletools.js"></script>
		<script src="assets/javascripts/ui-elements/examples.modals.js"></script>
		<script src="assets/my_js/generate.js"></script>
		<script>
			
		</script>
	</body>
</html>
