<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Validate time logged</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="assets/images/logo opt.png" />

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="assets/vendor/select2/select2.css" />
		<link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="assets/stylesheets/theme.css" />
		<link rel="stylesheet" href="assets/stylesheets/custom.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="assets/stylesheets/custom.css">

		<!-- Head Libs -->
		<script src="assets/vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="assets/images/Logo optimum.png" height="40" alt="Company Logo" />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="assets/images/logo opt.png" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/logo opt.png" />
							</figure>
							<div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
								<span class="name">Optimum timesheets</span>
								<span class="role">administrator</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li>
									<a role="menuitem" tabindex="-1" href="/exit_a"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title" style="color:rgb(221, 216, 216);">
							Timesheets
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main text-bold">
								<ul class="nav nav-main">		
									<li class="nav-parent nav-expanded">
										<a>
											<i class="fa fa-copy" aria-hidden="true"></i>
											<span>PAGES</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="/employees">
													Timesheets of employees
												</a>
											</li>
											<li class="nav-active">
												<a href="/validation">
													Validation Page
												</a>
											</li>
											<li>
												<a href="/userlist">
													Users Lists
												</a>
											</li>
											<li>
												<a href="/about">
													About Project
												</a>
											</li>
											
										</ul>
									</li>
									
									
									
								</ul>
							</nav>
						</div>
				
					</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Time validation</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Validation</span></li>
								<li><span>Timesheets</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
					<section class="panel">
						<header class="panel-heading">
							<h2 class="panel-title text-center">Time waiting for validation</h2>
							<hr>
						</header>
						<div class="panel-body">
							<table class="table table-bordered table-striped mb-none" id="datatable-default" >
								<thead style="background-color: #619FCB;color:white">
									<tr>
										<th>M-CODE</th>
										<th>Number of agent</th>
										<th>Project</th>
										<th>Date</th>
										<th>Time Start</th>
										<th>Time end</th>
										<th>Tasks accomplished</th>
										<th>Validation</th>
									</tr>
								</thead>
								<tbody id ="alldata">
									<% timesheets.forEach(function(timesheets) { %>
											<tr id="<%= timesheets._id %>">
												<td><%= timesheets.m_code %></td>
												<td><%= timesheets.num_agent %></td>
												<td><%= timesheets.projects %></td>
												<td><%= timesheets.date %></td>
												<td><%= timesheets.time_start %></td>
												<td><%= timesheets.time_end %></td>
												<td><%= timesheets.task %></td>
												<td style="width: 60px;">
													<div class="row" style="width: 100px;">
													<div class="col-sm-5 text-left">
														<button type="button" class="btn btn-success btn-circle btn-sm" onclick="validate_true('<%= timesheets._id %>')"><i class="fa fa-check"></i></button>
													</div>
													<div class="col-sm-5 text-right">
														<a class="modal-with-form" href="#modalForm"><button type="button" class="btn btn-danger btn-circle btn-sm text-right" onclick='validate_false("<%= timesheets._id %>","<%= timesheets.m_code %>","<%= timesheets.task %>","<%= timesheets.projects %>")'><i class="fa fa-ban"></i></button></a>
													</div>
												</div>
													
													
												</td>
											</tr>		   
									  <% }); %>
								</tbody>
							</table>
						</div>
						<br>
						<a class="mb-xs mt-xs mr-xs modal-with-zoom-anim" href="#modalAnim"><button id="vall" class="btn btn-success btn-sm pull-right"><i class="fa fa-check"></i> VALIDATE ALL</button></a>
					</section>
			</div>
		</section>
		<div class="panel-body">
			<!-- Modal Form reject -->
			<div id="modalForm" class="modal-block modal-block-primary mfp-hide">
				<section class="panel">
					<header class="panel-heading">
						<h2 class="panel-title">Message to send</h2>
					</header>
					<div class="panel-body">
						<div id="reason" class="card" style="width: 100rem;">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<textarea id="rejected" placeholder="Rejected Reason" onkeyup="" class="form-control" name="task" rows="2" cols="50" required></textarea>
										<br>
										<button onclick="sendclick()" class="btn btn-success btn-sm pull-right modal-confirm "><i class="fa fa-envelope" style="color: white;"></i> SEND MESSAGE</button>
									</div>
								</div>
							</div>
						  </div>
					</div>
					<footer class="panel-footer">
						<div class="row">
							<div class="col-md-12 text-right">
								<button class="btn btn-default modal-dismiss">Cancel</button>
							</div>
						</div>
					</footer>
				</section>
		</div>
		</div>
		<!-- Modal Animation -->
		<div id="modalAnim" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
			<section class="panel">
				<header class="panel-heading">
					<h2 class="panel-title">Are you sure?</h2>
				</header>
				<div class="panel-body">
					<div class="modal-wrapper">
						<div class="modal-icon">
							<i class="fa fa-question-circle"></i>
						</div>
						<div class="modal-text">
							<p>Are you sure to validate all time logged</p>
						</div>
					</div>
				</div>
				<footer class="panel-footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<button class="btn btn-primary" onclick="valide_all()">Confirm</button>
							<button class="btn btn-default modal-dismiss">Cancel</button>
						</div>
					</div>
				</footer>
			</section>
		</div>
		<script>
			if ('<%= timesheets.length %>' <= 1){
				document.getElementById("vall").disabled = true;
			}
			else{
				document.getElementById("vall").disabled = false;
			}
		</script>
		

		<!-- Vendor -->
		<script src="assets/vendor/jquery/jquery.js"></script>
		<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="assets/vendor/select2/select2.js"></script>
		<script src="assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
		<script src="assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="assets/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="assets/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="assets/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="assets/javascripts/tables/examples.datatables.default.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.row.with.details.js"></script>
		<script src="assets/javascripts/tables/examples.datatables.tabletools.js"></script>
		<script src="assets/my_js/validation.js"></script>
		<script src="assets/javascripts/ui-elements/examples.modals.js"></script>
		<script>
			
			
		</script>
	</body>
</html>
